.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    /* opacity: 0.65; */
    opacity: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("/img/img_parallax.jpg");
    height: 100%;
}
